@page
@model Presentation.Pages.Lifts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form method="get">
    <button type="submit" asp-page="Create" class="btn btn-default">Create New</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].MaxLift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].IsMainLift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LiftViewModel.Where(x => x.LiftType == "Push"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiftType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMainLift)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Lift.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Lift.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Lift.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].MaxLift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].IsMainLift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LiftViewModel.Where(x => x.LiftType == "Pull"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiftType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMainLift)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Lift.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Lift.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Lift.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].LiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].MaxLift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftViewModel[0].IsMainLift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LiftViewModel.Where(x => x.LiftType == "Lower"))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiftType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMainLift)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Lift.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Lift.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Lift.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
